<!DOCTYPE html>
<html class="mobile" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>My Account</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>

<body>


<div class="title">
    <h1>My Account</h1>
</div>

<form class="proceed" action="#" th:action="@{/get-funds}" th:object="${domainAccount}" method="post">
    <p><label><input type="hidden" th:value="${domainAccount.id}" id="id" name="id"/></label></p>
    <p><input type="submit" value="Get Funds"/></p>
</form>

<p class="response" th:text="'Betfair balance: £' + ${accountFunds.availableToBetBalance}"/>

</body>

<div class="vendorNotes vendorRight">
    <p>The <strong>getAccountFunds</strong> call is made using the <strong>vendor's app key</strong> and the <strong>access
        token:</strong></p>
    <ul class="list-group">
        <li class="list-group-item">X-Application: <strong th:text="${app_key}"/></li>
        <li class="list-group-item">Authorization: <strong th:text="${vendorAccessTokenInfo.token_type}"/> <strong
                th:text="${vendorAccessTokenInfo.access_token}"/></li>
    </ul>
</div>

</html>